* {
    box-sizing: border-box;
}

html, body {
    margin: 5px;
    height: 100%;
}

#addTask {
    background: blue;
}

#todoTasks {
    background: orange;
}

#finishedTasks {
    background: purple;
}

#wrapper {
    display: flex;
    justify-content: space-evenly;
}

#wrapper div:first-child {
    width: 30vw;
    height: 1%;
}

#wrapper div:not(:first-child) {
    width: 30vw;
    height: 50vh;
    overflow: auto;
}

h2 {
    text-align: center;
}

section {
    display: flex;
    padding: 5px;
}

textarea {
    resize: none;
    font-size: 16px;
}

button {
    flex: 1;
}
