* {
    box-sizing: border-box;
}

html, body {
    margin: 10px;
    height: 100%;
}

#addTask {
    width: 100vw;
    margin-bottom: 2em;
    background: #03a9f4;
}

#todoTasks {
    background: #ffc107;
}

#finishedTasks {
    background: #9c27b0;
}

#wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#wrapper div:not(:first-child) {
    width: 45vw;
    height: 50vh;
    overflow: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

section {
    display: flex;
    padding: 5px;
}

textarea {
    resize: none;
    font-size: 1.2em;
    flex: 20;
}

button {
    flex: 1;
    font-size: 1.2em;
}

.finishText {
    text-decoration: line-through;
    background: #545454;
}

.todoText {
    text-decoration: none;
}